{% extends "base_generic.html" %}

{% block title %}
  <title>Advanced Search - Historic Ships Atlas</title>
{% endblock %}

{% block content %}
  <h1>Advanced Search</h1>

  <form action="/atlas/search/" method="get" class="grid-x grid-padding-x">
    <div class="cell auto">
      {{ search_form.keywords.label_tag }}
      {{ search_form.keywords }}
    </div>
    <div class="input-group-button cell shrink">
      <input type="submit" class="button" value="Search">
    </div>
    <div class="cell">
      {{ search_form.name.label_tag }}
      {{ search_form.name }}
    </div>
    <div class="cell">
      {{ search_form.imo.label_tag }}
      {{ search_form.imo }}
    </div>
    <div class="cell">
      {{ search_form.type.label_tag }}
      {{ search_form.type }}
    </div>
    <fieldset class="fieldset cell grid-x grid-padding-x">
      <legend>Year Built</legend>
      <div class="medium-6 cell">
        <label for="id_year_built_from">From:</label>
        {{ search_form.year_built_from }}
      </div>
      <div class="medium-6 cell">
        <label for="id_year_built_to">To:</label>
        {{ search_form.year_built_to }}
      </div>
    </fieldset>
    <fieldset class="fieldset cell grid-x grid-padding-x">
      <legend>Gross Tonnage</legend>
      <div class="medium-6 cell">
        <label for="id_tonnage_from">From:</label>
        {{ search_form.tonnage_from }}
      </div>
      <div class="medium-6 cell">
        <label for="id_tonnage_to">To:</label>
        {{ search_form.tonnage_to }}
      </div>
    </fieldset>
    <fieldset class="fieldset cell grid-x grid-padding-x">
      <legend>Length (meters)</legend>
      <div class="medium-6 cell">
        <label for="id_length_from">From:</label>
        {{ search_form.length_from }}
      </div>
      <div class="medium-6 cell">
        <label for="id_length_to">To:</label>
        {{ search_form.length_to }}
      </div>
    </fieldset>
    <fieldset class="fieldset cell grid-x grid-padding-x">
      <legend>Location (Static Ships Only)</legend>
      <div class="cell">
        {{ search_form.country.label_tag }}
        {{ search_form.country }}
      </div>
      <div class="cell">
        {{ search_form.city.label_tag }}
        {{ search_form.city }}
      </div>
    </fieldset>
    <div class="cell">
      {{ search_form.status.label_tag }}
      {{ search_form.status }}
    </div>
    <div class="cell">
      {{ search_form.uses.label_tag }}
      {{ search_form.uses }}
    </div>
    <div class="cell">
      {{ search_form.owner.label_tag }}
      {{ search_form.owner }}
    </div>
    <div class="cell">
      {{ search_form.former_names.label_tag }}
      {{ search_form.former_names }}
    </div>
  </form>
{% endblock %}
