{% extends "base_generic.html" %}

{% block title %}
  {% if city.region %}
  <title>Ships in City: {{ city.name }}, {{ city.region }} - Historic Ships Atlas</title>
  {% else %}
  <title>Ships in City: {{ city.name }} - Historic Ships Atlas</title>
  {% endif %}
{% endblock %}

{% block content %}
  {% if city.region %}
  <h1>Ships in City: {{ city.name }}, {{ city.region }}</h1>
  {% else %}
  <h1>Ships in City: {{ city.name }}</h1>
{% endif %}

<ul>
  {% for ship in city.ship_set.all %}
    <li><a href="{{ ship.get_absolute_url }}">{{ ship.name }}</a></li>
  {% endfor %}
</ul>

{% endblock %}
