{% extends "base_generic.html" %}

{% block head %}
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<h2>{{ ship.name }}</h2>

<h3>Ship Details</h3>

<table>
  {% if ship.imo %}
    <tr>
      <th scope="row">IMO Number</th>
      <td>{{ ship.imo }}</td>
    </tr>
  {% endif %}
  {% if ship.type %}
    <tr>
      <th scope="row">Type</th>
      <td><a href="{{ ship.type.get_absolute_url }}">{{ ship.type }}</a></td>
    </tr>
  {% endif %}
  <tr>
    <th scope="row">Year Built</th>
    <td>{{ ship.year_built }}</td>
  </tr>
  {% if ship.tonnage %}
    <tr>
      <th scope="row">Gross Tonnage</th>
      <td>{{ ship.tonnage }}</td>
    </tr>
  {% endif %}
  {% if ship.length %}
    <tr>
      <th scope="row">Length (m)</th>
      <td>{{ ship.length }}</td>
    </tr>
  {% endif %}
  {% if ship.beam %}
    <tr>
      <th scope="row">Beam (m)</th>
      <td>{{ ship.beam }}</td>
    </tr>
  {% endif %}
  {% if ship.city and ship.country %}
    <tr>
      <th scope="row">Location</th>
      <td><a href="{{ ship.city.get_absolute_url }}">{{ ship.city }}</a>, <a href="{{ ship.country.get_absolute_url }}">{{ ship.country }}</a></td>
    </tr>
  {% endif %}
  <tr>
    <th scope="row">Current Status</th>
    <td><a href="{{ ship.status.get_absolute_url }}">{{ ship.status }}</a></td>
  </tr>
  {% if ship.uses.all %}
    <tr>
      <th scope="row">Current Use(s)</th>
      <td>
        <ul>
          {% for use in ship.uses.all %}
            <li><a href="{{ use.get_absolute_url }}">{{ use }}</a></li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  {% endif %}
  {% if ship.owner %}
    <tr>
      <th scope="row">Owner</th>
      <td><a href="{{ ship.owner.get_absolute_url }}">{{ ship.owner }}</a></td>
    </tr>
  {% endif %}
  {% if ship.website %}
    <tr>
      <th scope="row">Website</th>
      <td><a href="{{ ship.website }}" target="_blank">{{ ship.website }}</a></td>
    </tr>
  {% endif %}
  {% if ship.former_names %}
    <tr>
      <th scope="row">Former Names</th>
      <td>
        <ul>
          {% autoescape off %}
          {{ ship.former_names }}
          {% endautoescape %}
        </ul>
      </td>
    </tr>
  {% endif %}
</table>

{% if ship.description %}
  <h3>Description</h3>
  {% autoescape off %}
  {{ ship.description }}
  {% endautoescape %}
{% endif %}

<h3>Map</h3>

<div id="map" style="height: 600px;"></div>

{% endblock %}

{% block script %}
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js"></script>
{% if ship.status|stringformat:"s" == "Active" and ship.fleetmon %}
<script type="text/javascript">
  fetch('https://apiv2.fleetmon.com/myfleet/{{ ship.fleetmon }}?apikey=4320bb316a86f03cccb627ce0f031905664d902c', {
    credentials: 'include',
    headers: {
      'Accept': 'application/json'
    },
  })
  .then(function(response) {
    return response.json();
  })
  .then(function(myJson) {
    var ais = myJson;
    mapboxgl.accessToken = 'pk.eyJ1IjoiZG91Z25ld21hbiIsImEiOiJjam5vODkwaHQwNm1qM3BxbHV6YmlidWFoIn0.3rN2nNWL5-Ie_euOFrChbg';
    var map = new mapboxgl.Map({
        container: 'map',
        center: [ais.position.longitude, ais.position.latitude],
        zoom: 6,
        style: 'mapbox://styles/mapbox/satellite-streets-v10'
    });
    map.on('load', function () {
      var nav = new mapboxgl.NavigationControl();
      map.addControl(nav, 'top-left');
      map.addLayer({
          'id': 'points',
          'type': 'symbol',
          'source': {
              'type': 'geojson',
              'data': {
                  'type': 'FeatureCollection',
                  'features': [{
                      'type': 'Feature',
                      'geometry': {
                          'type': 'Point',
                          'coordinates': [ais.position.longitude, ais.position.latitude]
                      },
                      'properties': {
                          'title': ais.name,
                          'icon': 'triangle'
                      }
                  }]
              }
          },
          'layout': {
              'icon-image': '{icon}-15',
              'text-field': '{title}',
              'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
              'text-offset': [0, 0.6],
              'text-anchor': 'top'
          },
          'paint': {
              'text-color': '#ffffff',
              'text-halo-color': '#000000',
              'text-halo-width': 1,
          }
      });
      map.on('click', 'points', function (e) {
          var coordinates = e.features[0].geometry.coordinates.slice();
          var description = '<p><strong>' +
            ais.name +
            '</strong></p><table><th scope="row">Current Location:</th><td>' +
            ais.position.location_str +
            '</td></tr><tr><th scope="row">Navigational Status:</th><td>' +
            ais.position.nav_status +
            '</td></tr><tr><th scope="row">Speed:</th><td>' +
            ais.position.speed +
            ' kn</td></tr><tr><th scope="row">Last Updated:</th><td>' +
            ais.position.received +
            '</td></tr><tr><th scope="row">Destination:</th><td>' +
            ais.voyage.destination +
            '</td></table><p>AIS data from <a href="https://www.fleetmon.com/">FleetMon</a></p>'
          ;
          while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
              coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
          }
          new mapboxgl.Popup()
              .setLngLat(coordinates)
              .setHTML(description)
              .addTo(map);
      });
      map.on('mouseenter', 'points', function () {
          map.getCanvas().style.cursor = 'pointer';
      });
      map.on('mouseleave', 'points', function () {
          map.getCanvas().style.cursor = '';
      });
    });
  });
</script>
{% endif %}

{% if ship.status|stringformat:'s' != 'Active' %}
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZG91Z25ld21hbiIsImEiOiJjam5vODkwaHQwNm1qM3BxbHV6YmlidWFoIn0.3rN2nNWL5-Ie_euOFrChbg';
  var map = new mapboxgl.Map({
      container: 'map',
      center: [{{ ship.lon }}, {{ ship.lat }}],
      zoom: 6,
      style: 'mapbox://styles/mapbox/satellite-streets-v10'
  });
  map.on('load', function () {
    var nav = new mapboxgl.NavigationControl();
    map.addControl(nav, 'top-left');
    map.addLayer({
        'id': 'points',
        'type': 'symbol',
        'source': {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': [{
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [{{ ship.lon }}, {{ ship.lat }}]
                    },
                    'properties': {
                        'title': '{{ ship.name }}',
                        'icon': 'harbor'
                    }
                }]
            }
        },
        'layout': {
            'icon-image': '{icon}-15',
            'text-field': '{title}',
            'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
            'text-offset': [0, 0.6],
            'text-anchor': 'top'
        },
        'paint': {
            'text-color': '#ffffff',
            'text-halo-color': '#000000',
            'text-halo-width': 1,
        }
    });
  });
</script>
{% endif %}
{% endblock %}
